apiVersion: v1
kind: Service
metadata:
  name: {{ project_name }}
  labels:
    app: {{ project_name }}
spec:
  type: ClusterIP
  ports:
    - port: {{ framework_port }}
      targetPort: {{ framework_port }}
      protocol: TCP
      name: http
  selector:
    app: {{ project_name }}
